* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;
}

.heading {
    padding: 12px;
    color: rgb(15, 43, 19);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.headimage {
    background-blend-mode: normal;
    background: white url(../images/headingimg.jpg);
    background-size: cover;

}

.navbar {
    display: flex;
}

.bgimage {
    background: rgba(1, 1, 1, 0.51) url(../images/cutter1.jpg);
    background-size: cover;
    background-blend-mode: darken;
}

.logo {
    display: flex;
    justify-content: center;
    padding-left: 47px;
}

.logo img {
    width: 60;
    height: 60;
    border-radius: 50%;
}

.list {

    display: flex;
    width: 70%;
}

.list li {
    list-style: none;
    padding: 16px 28px;
}

.list li a {

    text-decoration: none;
    color: wheat;
    font-family: "comic sans ms", arial;
    font-size: large;
    font-weight: bold;

}

.list li a:hover {
    color: white;
}

.rightnav {
     margin-top: 14px;
    width: 50%;
    text-align: right;
}

#search {
    padding: 3px;
    border: 0px solid pink;
    border-radius: 5px;
}

.BTN {
    font-weight: bold;
    border-radius: 10px;
}

footer {
    padding: 20px;
    background-color: green;
    color: #f2f2f2;
    ;
}


.body1 {
    padding-top: 8px;
    display: flex;
}

.bodyimg {
    background: rgba(1, 1, 1, 0.5) url(../images/bgbody.jpg);
    background-size: cover;
    background-blend-mode: darken;
}

.bodypimg {
width: 45%;

opacity: 80%;
border-radius: 30%;
padding-left: 10px;
}

.slogan {
    padding-top: 10%;
    width: 25%;
    text-align: center;
    font-weight: bold;
    font-family: cursive,arial;
    font-size: 40;
    padding-left: 5%;
    color: hotpink;
}

.form{
display: flex;
background: transparent;
}

.form h1{
    width: 100%;
}